<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All Users</title>
    <style>
        table, tr, td, th {
            border: 1px black solid;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <th>Id</th>
        <th>Email</th>
        <th>Username</th>

    </tr>
    <% for (user of users){ %>
        <tr>
            <td><%= user.id %></td>
            <td><%= user.email %></td>
            <td><%= user.username %></td>
            <td>
                <form method="get" action="/user/<%= user.id %>/edit">
                    <button>Edit User Name</button>
                </form>
            </td>
        </tr>
    <% } %>
</table>
</body>
</html>

